.settings__link {
    border: none;
    border-bottom: 1px solid var(--secondaryText);
    font-size: 13px;
    line-height: 13px;
    width: 510px;
    height: 33px;
    color: var(--primary);
    display: flex;
    align-items: center;
}

.settings__link:last-of-type {
    border: none;
}
