.preview__input {
    border-radius: 30px;
    border: none;
    background: #EFEFEF;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 12px;
    color: var(--secondaryText);
    width: 100%;
}
