.preview__footer {
    border-top: 1px solid #EAEAEA;
    display: grid;
    grid-template-columns: 28px 1fr 28px;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0;
}
