.settings__field {
    border: none;
    border-bottom: 1px solid var(--secondaryText);
    font-size: 13px;
    line-height: 13px;
    width: 510px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__field:last-of-type {
    border-bottom: none;
}
