.settings__back {
    background: var(--secondary);
    border-right: 1px solid #EAEAEA;
    width: 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
